<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="/img/Digital-Lips.svg">
    <!-- <script src="/js/register.js"></script> -->

    <title>Editar Perfil</title>

</head>

<body>

    <%- include('./partials/navbar.ejs'); %>


        <main>

            <h1>Editar Perfil</h1>
            <div class="base">
                <form action="/user/<%= user.id %>/update?_method=PUT" method="post" enctype="multipart/form-data" id = 'formulario'>
                    <div class="holder">
                        <div class="titulo">
                            <div class="datos">
                                <h4>Nombre</h4>
                                <p style="color:palevioletred;"></p>
                                <input type="text" id="nombre" value="<%= user.nombre %>" class="contenedor"
                                    name="nombre" >
                                <h4>Apellido</h4>
                                <p style="color:palevioletred;"></p>
                                <input type="text" id="apellido" value="<%= user.apellido %>" class="contenedor"
                                    name="apellido" >
                                <h4>Fecha de nacimiento</h4>
                                <p style="color:palevioletred;"></p>
                                <input value="<%= user.fechaNacimiento %>" type="date" id="fechaNacimiento"
                                    class="contenedor" name="fechaNacimiento">
                            </div>

                            <div class="imagen fotos" id="principal">
                                <img for="inputarchivo" src="/imgUser/<%= user.img %>">
                                <p style="color:palevioletred;"></p>
                                <input type="file" id="inputarchivo" name="img" style="display: none;"><br>
                                <label for="inputarchivo" id="seleccionar">Seleccior archivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="holder">
                        <h4>Pais de nacimiento</h4>
                        <p style="color:palevioletred;"></p>
                        <input type="text" id="paisNacimiento" value="<%= user.paisNacimiento %>" class="contenedor"
                            name="paisNacimiento" >
                    </div>

                    <div class="holder">
                        <h4>Email</h4>
                        <p style="color:palevioletred;"></p>
                        <input type="text" id="email" value="<%= user.email %>" class="contenedor" name="email">
                    </div>

                    <div class="holder">
                        <h4>Contraseña</h4>
                        <p style="color:palevioletred;"></p>
                        <input type="password" id="password" class="contenedor" name="password" >
                    </div>

                    <div class="holder">
                        <h4>Repetir Contraseña</h4>
                        <p style="color:palevioletred;"></p>
                        <input type="password" id="confirmPassword" class="contenedor" name="password" >
                    </div>
                    <div class="botones">
                        <input type="submit" id="sumar" value="Guardar Cambios" class="contenedor3">
                        
                        <a href> <button type="reset" id="default" value="borrar" class="contenedor3">Por defecto</button></a>
                        
                 </form>
                    
                        <form action="/user/<%= user.id %>/delete?_method=DELETE" method="post" id="deleteForm">
                            <input type="submit" id="borrar" value="Eliminar" class="contenedor3" onclick="confirmDelete()">
                        <script>
                            function confirmDelete() {
                                const confirmed = confirm("¿Estás seguro de que deseas eliminar este usuario?");
                                if (confirmed) {
                                    const now = new Date();
                                    const expirationDate = now.toUTCString();
                                    document.cookie = `email=; expires=${expirationDate}; path=/;`;
                                    document.getElementById("deleteForm").submit();
                                } else {
                                    event.preventDefault();
                            } 
                            }
                            </script>
                        </form>
                     </div>

                    </div>
            </div>

        </main>

        <%- include('./partials/footer.ejs'); %>

</body>

</html>